.header-footer{
    height: 40px;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 5px;
    text-align: center;
    position: fixed;
}

#header {
    top: 0px;
}

#footer{
    bottom: 0px;
}

.mani-link {
    width: 15%;
    margin-left: 3%;
    cursor: pointer;
    border: 0.5px solid black;
    text-align: center;
    display: inline-block;
}

#welcome {
    margin-top: 40px;
    width: 100%;
    height: 700px;
    text-align: center;
}

.center-img {
    display: block;
    margin: auto;
}

.test-div {
    width: 100%;
    background-color: cadetblue;
    height: 60px;
    margin-top: 40px;
}
